img{
  height: 100%;
  width: 100%;
}

#everything{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.wrapping{
 position: absolute;
}
